@{
    ViewData["Title"] = "Home Page";
}


<div class="d-flex justify-content-center align-items-center vh-100 ">
    <h1 class="display-2 text-justify text-decoration-underline">Welcome To Mess Logger</h1>
    
</div> 

